
#credentials-section p {
    text-align: center;
}

.error {
    width: 100%;
    border-style: none;
    padding-left: 7px;
    background-color: #b0706d;
    color: white;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    margin-bottom: 0;

    display: none;
}

#error {
    border-style: none;
    padding-left: 7px;
    color: red;
    font-weight: 600;
    font-size: 15px;
}