
#profile-photo {
    width: 100%;

}

#photo {
    text-align: left;
    width: 15%;
}

#profile {
    padding: 10px;
}

#user-info {
    text-align: left;
    width: 75%;
}

tr, th {
    border-style: solid;

}
table {
    border-style: solid;
    width: 60%;
    margin-left: 20%;
}