
#profile-photo {
    width: 100%;

}

#photo {
    text-align: center;
    width: 30%;
}

#photo p {
    line-height: 50%;
    color: #3f3f3f;
}

#profile {
    padding: 10px;
}

#user-info {
    text-align: left;
    width: 75%;
    padding-left: 5%;
}

/* tr, th {
    border-style: solid;

} */
table {
    /* border-style: solid; */
    width: 60%;
    margin-left: 20%;
}

.rating {
    text-align: right;
}

.checked {
    color: orange;
  }

  .reviewer {
      text-decoration: italic;
      text-align: right;
      line-height: 50%;
  }

  /* .review {
      margin-bottom: 30px;
  } */